[Unit]
Description=Node.js Dart server for port scan logs

[Service]
Type=simple
WorkingDirectory=/var/www/blitz/PortScanLog/PortScanLogREST/
ExecStart="/var/www/blitz/PortScanLog/PortScanLogREST/bin/main.exe"
 
Restart=always
[Install]
WantedBy=network-online.target
